#/bin/bash

arg1=$1
if [ -z $arg1 ]; then 
  let arg1="arg1"
fi
if [[ $1 == "?" ]]
then
   echo "$0 doit to execute the change \n"
   echo "$0 to test only (without doit in the command line)"
   exit 0
fi
nvcpu=`vmcp q processor | wc -l`
corelist=`vmcp q processor | grep STANDBY| awk '{ print $6 }' | uniq`
let ncpu=$nvcpu/2
echo $ncpu
for core in $corelist
do
  if [[ $1 == "doit" ]] 
  then
    /usr/sbin/vmcp vary online core  $core
  else
    echo "/usr/sbin/vmcp vary online core "  $core
  fi
done

exit
